@charset "UTF-8";
/* Documento Css */
/*Aqui comienta el reset Css*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
table{border-collapse: collapse; border-spacing: 0; }
td, th, caption, {font-weight: normal; text-align: left; }
img, fieldset{ border: 0; }
ol {padding-left: 1.4em; list-style: decimal; }
ul {padding-left: 1.4em; list-style: square; }
q:before, q:after {content:'';
 }
 /*Hasta Aqui el reset Css*/
#cont_principal {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
  overflow: hidden; 
}

#principal {
	float: right;
	width: 565px;
	margin-right: 15px;
	padding-top: 25px;
}


#anuncio {
	margin-right: 600px;
	margin-left: 20px;
	
}



#banner h1 {
	font: normal 48px Georgia, "Times New Roman", Times, serif;
	text-align: right;
  color: #272D32;
}

#principal h2 {
	font: 24px Tahoma, Geneva, sans-serif;
	margin-bottom: 15px;
	font-family: Tahoma, Geneva, sans-serif;
}
#principal p {
	font: 14px Tahoma, Geneva, sans-serif;
	color: #323A3F;
	margin-bottom: 20px;
	font-family: Tahoma, Geneva, sans-serif;
}

#anuncio h2 {
	font: italic bold normal 20px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	color: #323A3F;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 18px;
}
#anuncio ul {
	font: 14px Tahoma, Geneva, sans-serif;
}
